<h1><%= @restaurant.name %></h1>

<br>
<br>

<h4>Details</h4>
<ul>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.category %></li>
</ul>

<br>
<br>
<h4>Reviews</h4>

  <% @restaurant.reviews.each do |review| %>
    Rating: <%= "*" * review.rating %>
    <br>
    Description: <%= review.content %></li>
    <br>
    <br>
  <% end %>

<br>
<br>
<div>
    <div class="row">
      <div class="col-3">
        <h4>Add review</h4>
        <%= render '/reviews/form_review' %>
      </div>
    </div>
</div>

<hr>
<%= link_to "Back to all restaurants", restaurants_path  %>
